<header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <%= link_to "Zizynonno", root_path, id:"logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Portfolio", portfolio_path %></li>
            <li><%= link_to "Contact", inquiry_path %></li>
          </ul>
        </nav>
      </div>
</header>